#footer{
    clear:both;
     margin-top: 20px;
     border-top: 1px solid black;
      padding: 20px 0px;
      font-size: 80%;
      text-align: center

}
#dog {text-align: center;
        background-color: #777;
        padding-top: 
    }